/* Меняем курсор на ссылках */

/* Прячем внутренности закрытых элементов */

.closed ul {
	display: none;
}

#categories-tree span[onclick] {
	cursor: pointer;
}

#categories-tree ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

#categories-tree li {
	margin: 2px 2px 2px 10px;
}

#vendors-list{
	text-align: center;
}

#vendors-list button{
	width:30%;
	margin: 2px;
}

#products-list > thead > tr > th {
	text-align: center;
	vertical-align: middle;
}

#products-list > tbody > tr > td {
	font-size: 12px;
}

#products-list > tbody > tr > td.article {
	white-space: nowrap;
}

#products-list > tbody > tr > td.name {
	word-wrap: break-word;
	max-width: 30%;
	overflow: hidden;
	text-overflow: ellipsis;
}

.td-price {
	white-space: nowrap;
}
