.icon-48-contractors {
	background-image: url(../images/l_contractors.png);
	padding-left:60px!important;
}

.icon-48-contractor {
	background-image: url(../images/l_contractors.png);
	padding-left:60px!important;
}

.icon-48-products {
	background-image: url(../images/l_products.png);
	padding-left:60px!important;
}

.icon-48-contractor {
	background-image: url(../images/l_products.png);
	padding-left:60px!important;
}
