.icon-48-partners {
	background-image: url(../images/l_partners.png);
	padding-left:60px!important;
}

.icon-48-partner {
	background-image: url(../images/l_partners.png);
	padding-left:60px!important;
}

.icon-48-products {
	background-image: url(../images/l_products.png);
	padding-left:60px!important;
}

.icon-48-contractor {
	background-image: url(../images/l_products.png);
	padding-left:60px!important;
}
